# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments (uv/venv)
.venv/
venv/
ENV/


uv.lock


# IDEs (VS Code)
.vscode/
.idea/

# Project Specific
data/uploads/*
!data/uploads/.gitkeep
db/
.env

# OS related
.DS_Store
Thumbs.db

# Logs
*.log
